.fav-comic {
  width: 210px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.fav-pic-comic {
  width: 210px;
  height: 313px;
  border-radius: 8px;
  border: 2px solid white;
  box-sizing: border-box;
}

.div-relativ-comic {
  position: relative;
}

.fav-comic-title {
  font-size: 18px;
}

.fav-comic-desc {
  color: white;
  font-size: 14px;
  overflow-y: hidden;
  height: 1.7rem;
}

.fav-comic:hover {
  box-shadow: 0px 0px 5px white;
  background-color: black;
  cursor: pointer;
}

.fav-comic:hover .fav-comic-desc {
  overflow-y: visible;
  height: auto;
}
