.main {
  width: 1024px;
  margin: 0 auto;
  /* border: green 1px solid; */
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0px;
  box-sizing: border-box;
  justify-content: space-between;
}

.paginate-button {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.paginate-button button {
  width: 80px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
}
